#create-square {
    margin: 2em auto;
}

.create-input {
    border: none;
    border-radius: 35px;
    height: 35px;
    width: 100%;
    margin-bottom: 0.5em;
    background-color: #F7F7FF;
    padding: 15px;
}

.create-square-body {
    text-align: center;
    margin: 2em auto;
    min-height: 100vh;
    width: 80%;
}



.create-square-body h1 {
    font-size: 2em;
}

.create-square {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 35px;
    color: white;
    background-color: #577399;
}

.create-square:hover {
    background-color: #FE5F55;
}

#summary {
    height: 200px;
    border: none;
    width: 100%;
    margin-bottom: 0.5em;
    background-color: #F7F7FF;
    padding: 15px;
}

#Summary-label {
    margin-bottom: 5px;
    color: #577399;
}

@media screen and (max-width: 1200px) {
    #create-square {
        width: 70%;
    }
}


@media screen and (max-width: 992px) {
    #create-square {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    #create-square {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    #create-square {
        width: 95%;
    }
}