#create-square {
    margin: 2em auto;
}

.create-input {
    border: none;
    border-radius: 35px;
    height: 35px;
    width: 100%;
    margin-bottom: 0.5em;
    background-color: #F7F7FF;
    padding: 15px;
}

.create-square-body {
    text-align: center;
    margin: 2em auto;
    min-height: 100vh;
    width: 80%;
}


.create-square-body h1 {
    color: #577399;
}

/* input[type="file"] {
    opacity: 0;
    
} */

#create-square-line {
    width: 100%;
    height: 3px;
    background-color: #FE5F55;
    margin-top: 5px;
}

.image-upload-input {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    background-color: #F7F7FF;
    height: 35px;
    border-radius: 35px;
    padding: 15px;
}

.image-upload-input h3 {
    color: #577399;
    margin-right: 3em;
}

.upload-icon {
    width: 22px;
    height: 22px;
    background-color: #FE5F55;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-icon:hover {
    background-color: #577399;
}

.upload-icon-text {
    display: flex;
    align-items: center;
}

.upload-icon-text p {
    margin-left: 5px;
}

.create-square-body h1 {
    font-size: 2em;
}

.create-square {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 35px;
    color: white;
    background-color: #577399;
}

.create-square:hover {
    background-color: #FE5F55;
}

#summary {
    height: 200px;
    border: none;
    width: 100%;
    margin-bottom: 0.5em;
    background-color: #F7F7FF;
    padding: 15px;
}

#Summary-label {
    margin-bottom: 5px;
    color: #577399;
}

@media screen and (max-width: 1200px) {
    #create-square {
        width: 70%;
    }
}


@media screen and (max-width: 992px) {
    #create-square {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    #create-square {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    #create-square {
        width: 95%;
    }
}