.profile-main {
    display: flex;
    width: 50%;
    margin: 2em auto;

}

.user-icon-img {
    background-color: #495867;

}

.profile-2 {
    margin-left: 3rem;
}

.profile-2 h5 {
    font-size: 2em;
    margin-bottom: 1em;
}