/* added for testing */
.post-bod {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10%;
}

/*  */

.square-view-main {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.square-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.square-view-intro {
    display: flex;
    width: 100%;
    margin: 3rem auto;
    justify-content: space-between;
    padding: 5px;
}

.square-view-intro-content {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    justify-content: space-around;
}

.square-view-nav {
    width: 16%;
    background-color: #F7F7FF;
    position: relative;
    display: flex;
    justify-content: center;

}

.square-nav-control {
    position: fixed;
    top: 45%;
    width: 150px;
    display: flex;
    flex-direction: column;
}


.square-view-img {
    width: 225px;
    height: 225px;
    background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#squar-image {
    width: 225px;
    height: 225px;
}

.highlight {
    background-color: #495867;
}


.square-view-intro h1 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.square-view-intro p {
    font-family: 'Sawarabi Gothic', sans-serif;
    line-height: 1.5;
}



.addpost {
    width: 100%;
    background-color: #495867;
    color: #F7F7FF;
    cursor: pointer;
    margin: 0 auto;
    border: none;
}

.addpost:hover {
    background-color: #FE5F55;
}

.square-view-posts {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



.post-main-bod {
    width: 100%;
    background-color: #F7F7FF;
    padding: 1em;
    border: 1px solid #495867;
    display: flex;
    flex-direction: column;
}

.post-body {
    margin-bottom: 1em;
}

.user-title {
    display: flex;
}

.user-title p {
    margin-left: 0.25em;
}

.user-icon-bg {
    background-color: #495867;
    border-radius: 100%;
    width: 15px;
    height: 15px;

}


.post-form-bod {
    width: 80%;
    z-index: 100;
    position: fixed;
    top: 150px;
    bottom: 50px;
    right: 25px;
    background-color: #577399;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.x-button-post {
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
    margin-right: 2em;
    position: fixed;
    top: 170px;
}

.x-button-post div {
    background-color: white;
    width: 2px;
    height: 20px;

}

.x-button-post:hover>div {
    background-color: #FE5F55;
}

.x-button-post :nth-child(1) {
    transform: translatex(2px) rotate(45deg);
}

.x-button-post :nth-child(2) {
    transform: rotate(-45deg);
}


.post-form-line {
    width: 70%;
    height: 3px;
    background-color: white;
    margin-bottom: 2em;
}

.post-form-bod h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 0.25em;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.post-form-btn {
    background-color: #FE5F55;
    border: none;
    color: white;
    height: 30px;
}

.post-form-btn:hover {
    background-color: white;
    color: #495867;
}


.post-title-input {
    border: none;
    height: 30px;
    padding: 15px;
    margin-bottom: 0.5em;
}

.post-content-input {
    border: none;
    height: 150px;
    padding: 15px;
    margin-bottom: 1em;
}


.user-post-title {
    display: flex;
    align-items: center;
}

.user-post-title p {
    margin-left: 4px;
}

.post-comments {
    width: 95%;
}

.comment-label {
    cursor: pointer;
    align-self: flex-end;
}

.post-main-bod-1 {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    justify-content: space-between;
}

.post-title {
    font-size: 20px;
}

/* commenting */


.comment-input {
    border: none;
    height: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 15px;
    width: 300px;
    background-color: #efefef;
    color: #495867;
}

.comment-main {
    display: flex;
    width: 100%;
    padding: 1em;
    flex-direction: column;

}

.comment-post {
    border: none;
    height: 30px;
    width: 45px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #495867;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-post:hover {
    background-color: #FE5F55;
}

.comment-form {
    display: flex;
    margin-bottom: 1em;
}

.comment-bod {
    padding: 0.5em;
    width: 100%;
    margin-bottom: 0.5em;
    background-color: #F7F7FF;
}

.comment-bod-user {
    display: flex;
    margin-bottom: 0.5em;
    align-items: center;
}

.comment-bod-user p {
    margin-left: 0.25em;
}

.comment-control {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;

}

.x-button-comment {
    display: flex;



}



.x-button-comment div {
    background-color: #495867;
    width: 2px;
    height: 20px;

}

.x-button-comment:hover>div {
    background-color: #FE5F55;
}

.x-button-comment :nth-child(1) {
    transform: translatex(2px) rotate(45deg);
}

.x-button-comment :nth-child(2) {
    transform: rotate(-45deg);
}

.comments-view-btn {
    display: flex;
    cursor: pointer;
    align-self: flex-end;
}

.comments-view-btn p {
    margin-left: 0.25em;

}

.search-square {
    display: flex;
    margin-top: 2em;
}

.search-square-input {
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #efefef;
    height: 20px;
    padding: 15px;
    width: 120px;
}

.search-square-btn {
    background-color: #495867;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
}

.square-nav-name {
    color: #495867;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.5em;
}

.search-square-btn:hover {
    background-color: #FE5F55;
}


@media screen and (max-width: 992px) {
    .square-view-intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .square-view-intro-content {

        margin: 1em 0 1em 0;
        align-items: center;

    }

    .square-view-main {
        flex-direction: column;
    }

    .square-view-nav {
        width: 100%;
        background-color: #F7F7FF;
        display: flex;
        align-items: center;

    }

    .square-nav-control {
        width: 90%;
        margin: 0 auto;
        height: 100px;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
    }

    .square-main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 1em auto;
    }


    .addpost {
        width: 20%;
        height: 50%;
        background-color: #495867;
        color: #F7F7FF;
        cursor: pointer;
        margin: 0 auto;
        border: none;
    }


    .search-square {
        display: flex;
        margin-top: 0;
    }

    .search-square-input {
        border: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #efefef;
        height: 20px;
        padding: 15px;
        width: 120px;
    }

    .search-square-btn {
        background-color: #495867;
        border: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
    }

    .square-nav-name {
        color: #495867;
        text-align: center;
        margin-bottom: 0;
        font-size: 1.5em;
    }

    .search-square-btn:hover {
        background-color: #FE5F55;
    }

}


@media screen and (max-width: 576px) {
    .square-view-intro {
        width: 95%;
    }

    .comment-content {
        margin-bottom: 0.5em;
    }
}